<div ng-controller="DashboardController">
    <form name="myCustomForm"
          novalidate>
        <my-select options="mockData"
                   ng-model="selectedOptions.first"
                   placeholder="Country you live"
                   required></my-select>

        <my-select options="mockData"
                   ng-model="selectedOptions.second"
                   placeholder="Country you born"
                   required></my-select>

        <button type="submit"
                ng-click="onSubmit()"
                ng-disabled="myCustomForm.$invalid || myCustomForm.$pristine"
        >Send</button>
    </form>
</div>
