/* reset */
html, body {
    padding: 0;
    margin: 0;
}
/* About */
.block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block-wrapper .block-item {
    display: block;
    width: 370px;
    text-align: center;
    background-color: #fedc54;
    border: 1px solid black;
    margin: 5px;
    height: 30px;
    line-height: 30px;
}
/*my-select.component*/
.my-select_container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 30px 0;
}
.my-select_field {
    line-height: 25px;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
    border: none;
    width: calc(100% - 35px);
    cursor: pointer;
    box-sizing: border-box;
}
.error {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    color: #f5081e;
}
.my-select_btn__clear {
    border: none;
    background-color: transparent;
    outline: none;
    position: absolute;
    right: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}
.my-select_btn__clear:hover {
    background-color: #00000017;
}
.my-select_btn__clear:disabled{
    background-color: #ebebe4;
}
.my-select_options__list {
    position: absolute;
    background-color: #fff;
    overflow-y: scroll;
    border: 1px solid black;
    max-height: 220px;
    width: 100%;
    left: -1px;
    top: 100%;
    z-index: 2;
}
.my-select_option__item {
    cursor: pointer;
    display: block;
    padding: 8px;
    line-height: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.selected_option, .my-select_option__item:hover {
    background-color: #9e9b9b40;
}
/*customize scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    border-left: 1px solid black;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7c7c7c;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #484848;
}
/* Layout */
.header {
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 1px #00000063;
    right: 0;
    z-index: 2;
}
.header .nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.header .nav .nav_item {
    font-family: monospace, sans-serif;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.active_item,
.header .nav .nav_item:hover {
    color: #4848f8;;
}
/*palette */
.palette {
    width: 100px;
    height: calc(100% - 75px);
    position: absolute;
    left: 0;
    box-shadow: 0 5px 6px 1px #00000063;
    top: 75px;
    box-sizing: border-box;
    bottom: 0;
    z-index: 1;
}
.palette .items_list {
    max-height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.palette .items_list .item {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    background-color: #cfffbe;
    cursor: pointer;
    font-family: monospace, sans-serif;
    user-select: none;
}
/*canvas*/
.canvas {
    background-color: #efebeb;
    height: calc(100% - 75px);
    width: calc(100% - 500px);
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    left: 100px;
    top: 75px;
    right: 400px;
    bottom: 0;
    overflow-y: auto;
}
.canvas div {
    display: flex;
    flex-wrap: wrap;
}
.canvas div .canvas_item {
    display: block;
    width: 50px;
    text-align: center;
    background-color: #afaeac;
    margin: 5px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
}
.canvas .selected_item {
    border: 1px solid black;
    box-sizing: border-box;
}
/*  inspector  */
.inspector {
     position: absolute;
     right: 0;
     top: 75px;
     bottom: 0;
     padding: 10px 15px;
     width: 400px;
     height: calc(100% - 75px);
     z-index: 1;
     box-shadow: 0 5px 6px 1px #00000063;
     box-sizing: border-box;
 }
.inspector .inspector_field {
    margin: 20px 0;
    display: block;
}
.inspector .inspector_field > * {
    width: 100%;
}
.inspector .inspector_field .field_label {
    text-transform: capitalize;
    font-family: monospace, sans-serif;
    font-size: 16px;
}
.inspector .inspector_field .field_label .field {
    width: 100%;
    line-height: 18px;
    font-size: 16px;
    font-family: monospace;
    outline: none;
}
