/* reset css*/
html, body {
    margin: 0;
    padding: 0;
}

/*my-select.component*/
.my-select_container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    margin: 35px 0;
}
.my-select_field {
    background-color: #fff;
    line-height: 25px;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
    border: none;
    width: calc(100% - 35px);
    cursor: pointer;
    box-sizing: border-box;
}
.error {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    color: #f5081e;
    margin: 5px 0;
    font-size: 18px;
}
.my-select_btn__clear {
    background-color: #fff;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}
.my-select_btn__clear:hover {
    background-color: #00000017;
}
.my-select_btn__clear:disabled{
    background-color: #ebebe4;
}
.my-select_options__wrapper {
    position: absolute;
    background-color: #fff;
    overflow-y: scroll;
    border: 1px solid black;
    max-height: 220px;
    width: 100%;
    left: -1px;
    top: 100%;
    z-index: 2;
}
.my-select_option__item {
    cursor: pointer;
    display: block;
    padding: 8px;
    line-height: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.selected_option, .my-select_option__item:hover {
    background-color: #9e9b9b40;
}
/*customize scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    border-left: 1px solid black;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7c7c7c;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #484848;
}
/* layout */
/* header */
.header {
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 8px -5px black;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}
.header_nav {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.header_nav__item {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: monospace, sans-serif;
}
.active-item, .header_nav__item:hover {
    color: blue;
    cursor: pointer;
}
/* sidebar */
.sidebar {
    box-sizing: border-box;
    height: calc(100% - 75px);
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0px 8px -4px black;
    position: fixed;
    top: 75px;
    left: 0;
    bottom: 0;
    z-index: 10;
}
/* content */
.content {
    box-sizing: border-box;
    padding: 5px 15px;
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    width: calc(100% - 300px);
    height: calc(100% - 75px);
    background-color: #F5F5F5;
    z-index: 9;
}
/* dashboard */
.submit-btn {
    outline: none;
    background: white;
    border: 2px solid black;
    padding: 5px 25px;
    border-radius: 0;
    font-size: 20px;
    color: #000;
    font-family: monospace;
    cursor: pointer;
    transition: border-radius 0.3s;
}
.submit-btn:hover:not(:disabled) {
    transition: border-radius 0.3s;
    border-radius: 20px;
}
.submit-btn:active {
    background-color: #000;
    color: #fff;
}
.submit-btn:disabled {
    background-color: #cdcdcd;
    color: #8a8888;
    border-color: #cdcdcd;
    cursor: not-allowed;
}
